<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<section class="login-page">

		<form method="post" autocomplete="off">
			
			<div class="box">
				<img src="../../../assets/IMG/logoupeu.png" style="height: 190px; width:174px; float:left; margin-left:53px;">
				<div class="form-head" style="margin-top:7px;">
					<p id="porfa">Por favor, identifíquese</p>
				</div>
				<div class="form-body">
					<input [(ngModel)]="usuario.username" type="text" placeholder="Usuario" name="username"/>
					<input [(ngModel)]="usuario.password" type="Password" placeholder="Contraseña" name="pass" />
				</div>
				<div class="form-footer">
					<button type="submit" (click)="click()">Iniciar Sesión</button>
				</div>
				

			</div>
			<img src="../../../assets/IMG/logoadventista.png" style="height:147px; width:149px; margin-left:1500px; margin-top:650px;">

		</form>

	</section>

</body>
