.aprobar{
    cursor: pointer;
    margin-left:18px;
    color: rgb(3, 190, 59);
    width: 28px;
    height: 28px;
}
.aprobar2{
    margin-left:40px;
    color: rgb(3, 190, 59);
    width: 28px;
    height: 28px;
}
.denegar{
    margin-left: 20px;
    cursor: pointer;
    color: rgb(197, 21, 21);
    width: 28px;
    height: 28px;
}
.denegar2{
    margin-left:76px;
    color: rgb(197, 21, 21);
    width: 28px;
    height: 28px;
}
.reloj{
    margin-left: 35px;
    color: rgb(207, 194, 3);
    width: 30px;
    height: 30px;
}
.habilitar{
    cursor: pointer;
    margin-left:23px;
    margin-bottom: 20px;
    color: rgb(3, 190, 59);
    width: 34px;
    height: 30px;
}